.popup__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}


.popup__close_img {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: auto;
  margin-right: -30px;
  top: -6px;
  right: -6px;
}